@{
    ViewBag.Title = "Contato";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Telefones para contato<br />
    Cel: 99999-1111<br />
    <abbr title="Phone">P:</abbr>
    11 8888 6666
</address>

<address>
    <strong>Supporte:</strong>   <a href="unip@Suporte.com.br">Support@unip.com</a><br />
    <strong>Marketing:</strong> <a href="unip@Suporte.com.br">Marketing@unip.com</a>
</address>